@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .heroButton{
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 
        transition-all hover:border-[#f7ab0a]/40 hover:text-[#f7ab0a]/40
    }

    .aboutTitle{
        @apply flex flex-col relative h-screen text-center md:text-left md:flex-row max-w-7xl px-10 
        justify-evenly mx-auto items-center
    }

    .socialIconsHover{
        @apply hover:scale-150 transition-all duration-500
    }
    
    .skills{
        @apply flex relative flex-col text-center md:text-left xl:flex-row max-w-[2000px] xl:px-10 min-h-screen 
        justify-center xl:space-y-0 mx-auto items-center
    }

    .skillsImg{
        @apply rounded-full border border-gray-500 object-cover w-20 h-20 filter 
        group-hover:grayscale transition duration-300 ease-in-out
    }

    .contactInput{
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] 
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7ab0a]/40 focus:text-[#f7ab0a]/40
    }
}